<a href="https://colab.research.google.com/github/sumit-jadhav-2000/sumit-jadhav-2000.github.io/blob/master/ML_Lab_Prac.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [4]:
hrs_spent = [10, 9, 2, 15, 10, 16, 11, 16]
risk_score = [95, 80, 10, 50, 45, 98, 38, 93]
data_dict = {'hrs_spent': hrs_spent, 'risk_score':risk_score }

In [5]:
data = pd.DataFrame(data = data_dict)
data

   hrs_spent  risk_score
0         10          95
1          9          80
2          2          10
3         15          50
4         10          45
5         16          98
6         11          38
7         16          93

In [6]:
data.shape

(8, 2)

In [46]:
print(data['hrs_spent'].mean())

11.125

In [24]:
X = np.array(data['hrs_spent']).reshape(-1, 1)
Y = np.array(data['risk_score']).reshape(-1, 1)
X,Y
X

array([[10],
       [ 9],
       [ 2],
       [15],
       [10],
       [16],
       [11],
       [16]])

In [25]:
linear_regr = LinearRegression()

In [26]:
linear_regr.fit(X,Y)

LinearRegression()

Equation for Best Fit Line is given by:
y' = b1 . x + bo

In [34]:
print('Y-intercept or bo : ', linear_regr.intercept_)
print('Regression Coefficicent or bo : ', linear_regr.coef_)
print('Equation for Best fit Line : ', 'y\' = ', round(linear_regr.intercept_[0], 3), 'x + ', round(linear_regr.coef_[0][0], 3) )

Y-intercept or bo :  [12.58462796]
Regression Coefficicent or bo :  [[4.58789861]]
Equation for Best fit Line :  y' =  12.585 x +  4.588

In [36]:
#Training Accuracy
print('Training_Accuracy : ', linear_regr.score(X,Y)*100)

Training_Accuracy :  43.709481451010035

In [39]:
#Testing
#Consider, x1 = 12
x1 = 12
print('Risk Score for hrs spent {} : {}'.format(x1, linear_regr.predict([[x1]])))

Risk Score for hrs spent 12 : [[67.63941128]]